
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

 {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* share of the code */
.btn{
max-width:180px;
background-color: #FF900E;
color:#FFFFFF;
border:none;
padding:20px 25px;
border-radius:10px;
margin-bottom:50px;
}




/* main of the css code  */
*body{
  margin:0;
  padding:0;
}
header{
  max-width: 1920px;
  margin: 0 auto;
  background-color: antiquewhite;
  padding:5px;
  margin-bottom: 130px;
}
.nav-main{
  /* border:2px solid red; */
   max-width: 1440px;
  margin:0 auto;
}
.nav-parent{
  display:flex;
  justify-content:space-around;
  align-items: center;
  gap:673px;
  /* margin-bottom:116px; */
}
.nav-parent h1{
  font-size:2rem;
}
.nav-child ul {
  display:flex;
  justify-content: space-between;
  gap:30px;
    list-style: none;
}

.nav-child a {
 text-decoration: none;
 color:#424242;
}
.banner-head{
max-width: 872px;
margin:0 auto;
text-align: center;
/* border:1px solid blue;  */
}
.banner-head h1{
font-size:3rem;
color:#131313;
}
.banner-head p{
color:#727272;
font-size:1rem;
margin-bottom:32px;
}
.banner-img{
   max-width:1440px;

   margin:0 auto;
   border-radius:10px;
   margin-bottom:85px;
}
.banner-img img{
     width:100%;
}
 .main-feature{
  /* margin-top:130px; */
  max-width:1440px;
  margin:0 auto;
  display:flex;
  gap:76px;
  justify-content: center;
  align-items: center;
  margin-bottom:130px;
 }
.main-pic{
  /* margin-top: 130px; */
display:grid;
grid-template-columns: repeat(2,1fr) ;
gap: 24px;
}
.main-head {
 max-width: 468px;
}

.main-head h2{ 
font-size: 3rem;

}
.main-head p{
  color:#727272;
  font-size:1rem;
  line-height:26px;
  margin-bottom:32px;
}
.main-love{
  display:flex;
  justify-content: center;
  /* align-items: center; */
  gap:146px;
  margin-bottom:130px;
}
.love-parent{
  /* max-height: 982px; */
}
.love-header h1{
  max-width:420px;
color:#131313;
font-size:3rem;
margin-bottom:10px;
border-left:5px solid #FF900E;
padding-left:15px;
}
.love-header p{
color:#727272;
max-width: 586px;
margin-bottom:30px;
}
/* .love-card-parent{
  display:grid;
  grid-template-columns: repeat(1,1fr);
  border:2px solid red; 

 
} */

.love-card{
max-width: 586px;
max-height: 171px;
border:none;
background-color:#FFFFFF;
padding:30px;
 box-shadow: 0px 4px 30px 0px #0000000f;
 margin-bottom:20px;
}
.love-card h4{
color:#131313;
font-size:1.4rem;
font-weight:600;
margin-top:0px;
margin-bottom:0px;
}
.love-card p{
max-width:514px;
line-height: 26px;
color:#727272;
}
.love-pic{
  width:708px;
  height: 942px;
}
.btn1{
  background-color:#FF900E;
  max-width: 342px;
  max-height: 200px;
  border:none;
  padding:46px 42px;
  border-radius:10px;
  margin-top:-100px;
  margin-left:-100px;
}

.fact-main{
  max-width: 1440px;
  margin:0 auto;
  margin-bottom: 130px;
}
.fact-main h2{
color:#131313;
font-size:3rem;
font-weight: 900;
margin-bottom:24;
}
.fact-main p{
max-width:542px;
color:#727272;
line-height: 26px;
margin-bottom: 100px;
}
.parent-fact{
display:flex;
justify-content: space-around;
align-items: center;

}
.child-fact{
border:1px solid #FF900E;
max-width: 242px;
max-height: 130px;
text-align: center;
padding:45px 35px 60px 35px;
border-radius:5px;
}
.child-fact img{
 width:45px;
 height: 45px;
 /* margin-bottom:2px; */
}
.child-fact h3{
font-size:2.8rem;
font-weight: 600;
color:#424242;
margin-top:2px;
margin-bottom:2px;
}
.child-fact p{
margin-top:2px;
}

.fot-main{

max-width:1440px;
margin:0 auto;
margin-bottom:216px;
}
.fot-head{
 text-align: center;
}
.fot-head h2{
color:#131313;
font-size:2.8rem;
margin-bottom:24px;
}
.fot-head p{
color:#727272;
max-width: 542px;
margin:0 auto;
line-height: 26px;
margin-bottom:50px;
}
.parent-log{
display:flex;
justify-content: space-between;
align-items: center;
margin-bottom:130px;
}
.child-log img{
  max-width:166px;
  max-height: 50px;
  color:#FFFFFF;
  filter: grayscale(100%);
  /* border:1px solid red; */
}
.f-last{
  background-color: #FFF4E7;
  text-align:center;
  max-width: 1440px;
  margin:0 auto;
  height:50px;
  padding-top:20px;
  color:#424242;
  
}
@media screen and (max-width:576px) {

  header{
  margin-bottom:40px;
}  
  .nav-parent,.main-feature
 {
  flex-direction:column;
      gap: 10px;
}

.main-head {
  margin-left:30px;
}

.main-pic{
  grid-template-columns: repeat(1,1fr) ;
}
.fact-main h2{
  text-align:center;
}
.fact-main p {
    max-width: 100%;
    margin-bottom:30px;
}
.parent-fact {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:20px;
}
.parent-log {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    align-items: center;
    /* margin-left: 150px; */
    margin-bottom: 40px;
    gap:30px;
}
.main-love{
  flex-direction:column;
  /* justify-content: center;
  /* align-items: center; 
  gap:146px;
  margin-bottom:130px; */
}
.main-feature {
    margin-bottom: 1px;
}
.love-pic img{
    width: 60%;
    
}
.btn1 {
   
    margin-top:30px;
    margin-bottom:30px; 
    margin-left:70px;
}
.fact-main {
    margin-top: -176px;
}
.main-love {
    gap: 80px;
   
}
.parent-log {
    margin-left: 150px;
   
}
}